<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>miscSprites/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 355}, {50, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 20}}</string>
			<key>sourceSize</key>
			<string>{50, 20}</string>
		</dict>
		<key>miscSprites/arrow_highlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 303}, {50, 20}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {50, 20}}</string>
			<key>sourceSize</key>
			<string>{50, 20}</string>
		</dict>
		<key>miscSprites/basket.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {300, 266}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {300, 266}}</string>
			<key>sourceSize</key>
			<string>{300, 266}</string>
		</dict>
		<key>miscSprites/quarter.png</key>
		<dict>
			<key>frame</key>
			<string>{{269, 1}, {266, 266}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {266, 266}}</string>
			<key>sourceSize</key>
			<string>{266, 266}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>textureFileName</key>
		<string>miscSprites.png</string>
	</dict>
</dict>
</plist>
