<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>clothesSprites/girlshirt.png</key>
		<dict>
			<key>frame</key>
			<string>{{1558, 1}, {367, 484}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {367, 484}}</string>
			<key>sourceSize</key>
			<string>{367, 484}</string>
		</dict>
		<key>clothesSprites/girlstank.png</key>
		<dict>
			<key>frame</key>
			<string>{{446, 1}, {270, 531}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {270, 531}}</string>
			<key>sourceSize</key>
			<string>{270, 531}</string>
		</dict>
		<key>clothesSprites/lsbuttondown.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {443, 532}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {443, 532}}</string>
			<key>sourceSize</key>
			<string>{443, 532}</string>
		</dict>
		<key>clothesSprites/polo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 535}, {484, 526}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {484, 526}}</string>
			<key>sourceSize</key>
			<string>{484, 526}</string>
		</dict>
		<key>clothesSprites/ssbuttondown.png</key>
		<dict>
			<key>frame</key>
			<string>{{529, 534}, {484, 526}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {484, 526}}</string>
			<key>sourceSize</key>
			<string>{484, 526}</string>
		</dict>
		<key>clothesSprites/stripper.png</key>
		<dict>
			<key>frame</key>
			<string>{{718, 1}, {340, 526}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {340, 526}}</string>
			<key>sourceSize</key>
			<string>{340, 526}</string>
		</dict>
		<key>clothesSprites/tee.png</key>
		<dict>
			<key>frame</key>
			<string>{{1057, 529}, {484, 499}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {484, 499}}</string>
			<key>sourceSize</key>
			<string>{484, 499}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>textureFileName</key>
		<string>clothesSprites.png</string>
	</dict>
</dict>
</plist>
