<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>miscSprites/basket.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1200, 1065}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1200, 1065}}</string>
			<key>sourceSize</key>
			<string>{1200, 1065}</string>
		</dict>
		<key>miscSprites/quarter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1068, 1}, {1067, 1067}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1067, 1067}}</string>
			<key>sourceSize</key>
			<string>{1067, 1067}</string>
		</dict>
		<key>miscSprites/sad.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1461}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
		<key>miscSprites/smile.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1203}, {256, 256}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 256}}</string>
			<key>sourceSize</key>
			<string>{256, 256}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 2048}</string>
		<key>textureFileName</key>
		<string>miscSprites.png</string>
	</dict>
</dict>
</plist>
